<div id="balloon">
    <div class="header">
        <svg class="header__icon">
            <use href="#placemark"></use>
        </svg>
        <p class="header__text"></p>
        <svg class="header__close">
            <use href="#close"></use>
        </svg>
    </div>
    <ul class="feedbacks"></ul>
    <form class="form" action="">
        <h1>ВАШ ОТЗЫВ</h1>
        <input class="name" type="text" placeholder="Ваше имя" name="name" required="true" autofocus>
        <input class="location" type="text" placeholder="Укажите место" name="location" required="true">
        <input class="comment" type="text" placeholder="Поделитесь впечатлениями" name="comment" required="true">
        <input class="button" type="submit" value="Добавить">
    </form>
</div>